\newcommand{\emaila}{a@a.aa}
\newcommand{\emailb}{a@a.aa}
\newcommand{\emailc}{a@a.aa}
\newcommand{\phone}{+01 234 567 8901}
\newcommand{\website}{https://www.google.it}
\newcommand{\address}{Address}
\newcommand{\birthdate}{01/01/1990}
\newcommand{\citizenship}{none}
